/* menu de navigation top bar */
header {
	position: fixed;
	margin-left: 2vw;
	margin-top: 20vh;
	z-index: auto;
}
.disk_container {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	pointer-events: none;
}
.menu_top {
	background-color: #040505;
	border-radius: 60px;
	border: solid #04f5f5 3px;
	height: 575px;
}
.menu_top li {
	margin-bottom: 30px;
}
.disk {
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	position: absolute;
}
/* Rotation du disque Light Disk. Application d'une translation pour qu'il reste en place( sur le même axe). */
@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
		-webkit-transform: translate(-50%, -50%) rotate(0deg);
		-o-transform: translate(-50%, -50%) rotate(0deg);
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		-o-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
@keyframes rotating {
	from {
		-ms-transform: translate(-50%, -50%) rotate(0deg);
		-moz-transform: translate(-50%, -50%) rotate(0deg);
		-webkit-transform: translate(-50%, -50%) rotate(0deg);
		-o-transform: translate(-50%, -50%) rotate(0deg);
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		-ms-transform: translate(-50%, -50%) rotate(360deg);
		-moz-transform: translate(-50%, -50%) rotate(360deg);
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		-o-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
#rotating {
	-webkit-animation: rotating 6s linear infinite;
	-moz-animation: rotating 6s linear infinite;
	-ms-animation: rotating 6s linear infinite;
	-o-animation: rotating 6s linear infinite;
	animation: rotating 6s linear infinite;
}

.fas,
.far {
	font-size: 50px;
	margin-top: 4px;
	color: #04f5f5;
}
.fa-folder {
	margin-left: 3px;
}
.fa-file {
	margin-left: 10px;
	font-size: 50px;
	color: #04f5f5;
}
.photo_header {
	position: absolute;
	border-radius: 100px;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
body {
	/* background-color: #5a5a5a; */

	background-image: url(images/cropped_fond_synth.jpg);
	margin: 0;
}
.nom_prenom {
	text-align: center;
	font-size: 4em;
	font-family: "Press Start 2P", cursive;
	position: relative;
	color: #f99c07;
}
.sous_titre {
	text-align: center;
	font-size: 2em;
	font-family: "Press Start 2P", cursive;
	position: relative;
	color: #ff6100;
}
.cadre_presentation {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

/* style du footer  */
.fab {
	font-size: 50px;
	margin-left: 5px;
	color: #04f5f5;
}
.background_container {
	display: flex;
	position: fixed;
	flex-flow: wrap;
}

/* 
Page curriculum  */
.experience {
	position: absolute;
	display: block;
	height: 102px;
	width: 200px;
	background-color: white;
	text-align: center;
	top: 30%;
	left: 20%;
}
